*.yml linguist-language=Python 
*.html linguist-language=Python 
*.js linguist-language=Python 
*.xml linguist-language=Python
*.css linguist-language=Python 
*.sql linguist-language=Python
*.uml linguist-language=Python 
*.cmd linguist-language=Python
*.json linguist-language=Python
*.ts linguist-language=Python
*.py linguist-language=Python
*.java linguist-language=Python
*.* linguist-language=Django
